// 手機版
.products {
  margin-bottom: 40px;
  h2 {
    font-size: 1.75rem;
    margin-top: 40px;
    margin-bottom: 32px;
    img {
      width: 28px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 56px;
      margin-top: 80px;
      margin-bottom: 40px;
      img {
        width: 56px;
      }
    }
  }
  .card {
    border-radius: 16px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $primary;
    }
    .card-img-top {
      border-radius: 16px;
      width: 320px;
      height: 200px;
    }
  }
  .viewBtn {
    &:hover {
      transform: scale(1.1);
    }
  }
}

// 桌機 筆電版
.allProduct {
  .card-img-top {
    height: 180px;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.d-flex {
  display: flex;
}
.align-end {
  align-items: end;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

.object-fit {
  object-fit: cover;
}

.card {
  padding: 0;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .btnCart {
    border-radius: 50%;
    padding: 5px 10px;
    background-color: #f9d6e2;
  }
  .btnHeart {
    border-radius: 50%;
    padding: 5px 10px;
    background-color: #f9d6e2;
  }
}

/* @media (max-width: 768px) {
    .products {
      max-width: 33.33%;
    }
  } */
/* @media (max-width: 576px) {
    .products {
      max-width: 100%;
    }
  } */
.typeBtns {
  button {
    margin-right: 4px;
  }
}
