// 手機版
.products {
  margin-bottom: 40px;
  h2 {
    font-size: 1.75rem;
    margin-top: 40px;
    margin-bottom: 32px;
    img {
      width: 28px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 56px;
      margin-top: 80px;
      margin-bottom: 40px;
      img {
        width: 56px;
      }
    }
  }
  .card {
    border-radius: 16px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $primary;
    }
    .card-img-top {
      border-radius: 16px;
      width: 320px;
      height: 200px;
    }
  }
  .viewBtn {
    &:hover {
      transform: scale(1.1);
    }
  }
}

// 桌機 筆電版
.allProduct {
  .card-img-top {
    height: 180px;
  }
}

.productCard {
  padding: 0;
}
.productBtns {
  display: flex;
  justify-content: space-between;
}
/* 在你的样式文件中添加以下样式 */
.btn-purple {
  background-color: #8a63a2;
  color: #fff;
}

.btn-purple:hover {
  background-color: #6c4681;
  color: #fff;
}

//card btn
.btn-purple-outline {
  color: #8a63a2;
  border: 1px solid #8a63a2;
}

.btn-purple-outline:hover {
  color: #fff;
  background-color: #8a63a2;
}
.btnHeart.btn-purple-outline {
  color: #4a2954;
  border: 1px solid #4a2954;
  background-color: transparent;
}
.btnHeart.btn-purple-outline.favorited {
  color: #fff;
  background-color: #4a2954; /* 實心紫色背景 */
}
.btnHeart.btn-purple-outline:hover {
  background-color: #4a2954;
  color: #fff;
}
